.step4-wrapper {
    
    background: linear-gradient(rgb(40, 40, 40), rgb(0, 0, 0));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
}

.container-step4 {
    margin: 40px 0px;
    width: 100%;
    max-width: 28rem;
    padding: 2rem;
    background-color: #151515;
    border-radius: 8px;
}

.logo-step4 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-step4 img {
    width: 150px;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #151515;
    margin-bottom: 1rem;
    border-top: 1px solid #4B5563;
    position: relative;
}

.progress-fill {
    position: absolute;
    left: 66.66%;
   
    height: 100%;
    background-color: #22C55E;
}

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}



input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    background-color: #000000;
    border: 1px solid #374151;
    border-radius: 0.25rem;
    color: white;
}





.step4-wrapper button {
    width: 100%;
    padding: 0.75rem;
    background-color: #1db954;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.step4-wrapper button:hover {
    background-color: #16A34A;
}
